
.highlight[property~="man"]{
	background-color: #00FAFA
}

.highlight[property~="god"]{
	background-color: #00FAFA
}

.highlight[property~="nature"]{
	background-color: #63af90
}

.highlight[property~="justice"]{
	background-color: #00FAFA
}

.highlight[property~="reason"]{
	background-color: #ade8f4
}

.highlight[property~="death"]{
	background-color: #788091
}

.highlight[property~="psy-body"]{
	background-color: #eeaabe
}

.highlight[property~="power"]{
	background-color: #ec37db
}

.highlight[property~="providence"]{
	background-color: #feef5d
}


